/*-- scss:defaults --*/

// colors
$body-bg: #FFF0E2 !default;
$link-color: #570F1A !default;
$body-color: #000 !default;
$selection-bg: #570F1A !default;

.reveal .footer {
 color: #ffffff !important;
}
.reveal .footer a:link {
 color: #ffffff !important;
}
.reveal .footer a:visited {
 color: #ffffff !important;
}
.reveal .footer a:hover {
 color: #ffffff !important;
}
.reveal .footer a:active {
 color: #ffffff !important;
}